<!doctype html>
<html lang="en">
  {% load static %}
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>yayun.s_home</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../static/bluebg.css" />

      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
  </head>
  <body>

  <div class="container">
    <div class="header clearfix">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="../blog/">Blogs</a></li>
          <li role="presentation"><a href="../contact/">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <main role="main">

    <br>
  <div class="container">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <br>
            <br>
          <h1 class="display-4 font-weight-normal" style="color:black">隋雅筠的个人站点</h1>
          <p class="lead font-weight-normal" style="color:black"> 关注以Django框架为基础的小型项目 </p>
          <a class="btn btn-outline-secondary" href="../blog/">技术写作</a>
        </div>
      </div>

      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <br>
            <br>
            <img src="../media/images/django0.jpg" width="170" alt="" class="img-thumbnail">
            <img src="../media/images/bootstrap.png" width="260" class="img-thumbnail">
        </div>
        </div>
  </div>

<section>
<a href="../blog/3">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
            <br>
            <br>
          <h2 class="p-banner__title">办公用品库存管理</h2>
          <p class="t-xxl t-bold p-banner__heading"><span> 数据管理基于Django框架，前端基于Bootstrap，界面清晰实用。 </span></p>
            <br>
            <img src="../media/images/inventory01.png" width="350" alt="" class="img-thumbnail">
        </div>
      </div>
    </div>
</a>
</section>

<section>
<a href="/Portfolio/templates/blog.html">
    <div class="wrapperblue">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <br>
        <br>
        <h2 class="p-banner__title">小型线上商城（建设中）</h2>
        <p class="t-xxl t-bold p-banner__heading"><span> 基于Django和Bootstrap的线上商城 </span></p>
        <img src="../media/images/mall.png" width="280" alt="" class="img-thumbnail">
        </p>
      </div>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
    </div>
</a>
</section>

</main>

<footer class="text-muted">
  <div class="container">
    <br>
    <br>
    <p class="float-right">
      <a href="#">回到顶部</a>
    </p>
    <p>Customize the 'Album' and 'Product' example @ Bootstrap by Yayun Sui</p>
    <p>Copyright © 2019-2020 xxx.com. All Rights Reserved.</p>
  </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
